<h1>Landmarks#index</h1>
<p>Find me in app/views/landmarks/index.html.erb</p>

<%= link_to 'Add new landmark', new_landmark_path %>
<br />
<ul>
<% @landmarks.each do |landmark| %>
<li><%= landmark.name %> <%= number_to_currency(landmark.cost)  %>: <%= link_to 'Show', landmark_path(landmark.id) %>  </li>
<% end %>
</ul>
<%= link_to 'Home', root_url %>
</p>

